.button{
    margin-left: 100px;
    border-radius: 100px;
    margin-top: 10px;
    height: 20px;
    color: aqua;
    margin-right: 50px;
    
}
.container{
   text-align: center;
   margin-top: 50px;
   border: 2px solid black;
   margin-left: 500px;
   margin-right: 550px;
   padding-top: 20px;
   padding-bottom: 50px;
   background-color: darkmagenta; 
    
}