.form{
    text-align: center;
    margin-top: 50px;
    border: 2px solid black;
    margin-left: 500px;
    margin-right: 550px;
    padding-top: 20px;
    padding-bottom: 50px;
    background-color: darkmagenta; 
}